.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.table{
    background-color: white;
    
}
.thead-dark{
    background-color: #2ac68f;
}

.table > .thead-dark > .th{
    color: #fff;
    background-color: #2ac68f;
    border-color: #2ac68f;
}

.fw-bold{
    text-align: center;
    color: #343e3b;
}

.a{
    display: block;
	width: 100%;
	height: 45px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
		text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
	font-weight: bold;
	text-transform: capitalize;
}